/* Basic reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f1eb; /* light cream */
    color: #333333;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

h1 {
    margin: 0;
    font-size: 50px;
    color: #c62828; /* deep red */
    text-transform: uppercase;
}

/* Navigation */
nav {
    margin-top: 10px;
}

nav a {
    color: #555555;
    text-decoration: none;
    margin: 0 12px;
    font-size: 14px;
}

nav a:hover {
    color: #c62828;
}

/* About Section */
#about {
    padding: 60px 20px;
    text-align: center;
    background-color: #ffffff;
}

#about h2 {
    font-size: 34px;
    margin-bottom: 10px;
    color: #c62828;

}

#about p {
    max-width: 1000px;
    margin: 0 auto 25px;
    color: #666666;
    font-size: 17px;
}

#about img {
    width: 800px;
    max-width: 100%;
    border-radius: 8px;
}

/* Section titles */
.center {
    text-align: center;
    font-size: 28px;
    margin: 40px 0 20px;
    color: #c62828;
}

/* Sections */
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 18px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}

/* Cards */
article {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #dddddd;
}

article h3 {
    margin-bottom: 10px;
    color: #333333;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

/* Footer */
footer {
    background-color: #ffffff;
    padding: 20px 0;
    margin-top: 30px;
    color: #777777;
    font-size: 14px;
    border-top: 1px solid #dddddd;
}

